<%- include('partials/header.ejs')%> <%- include('partials/navbar.ejs')%>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Editar Produto</h1>
    </div>
    <div class="card-body">
      <form action="/produtos/update" method="post">
        <label for="">Nome do produto: </label>
        <input
          type="text"
          name="nome"
          class="form-control"
          value="<%= produto.nome%>"
          required
        />

        <label for="">Preco</label>
        <input
          type="text"
          name="preco"
          class="form-control"
          value="<%= produto.preco%>"
          required
          id=""
        />

        <label for="">Categoria</label>
        <input
          type="text"
          name="categoria"
          class="form-control"
          value="<%= produto.categoria%>"
          required
          id=""
        />
        <input type="hidden" name="id" value="<%= produto.id %>" />
        <br />

        <input
          type="submit"
          name=""
          class="btn btn-warning"
          value="alterar"
          id=""
          onclick="return confirm('Confirma as alterações feitas no produto <%= produto.nome %>? ')"
        />
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs')%>
